__pycache__/
.venv/

data/*
!README.md
!data/patterns
!data/darpa_patterns
!data/universal_patterns
!data/freq_patterns
!data/paper

ipmes-java/

/results/
/siddhi-bin/
project/target/
.DS_Store
.vscode/settings.json
